{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Hero Section-->
<section style="background: url='{{ MEDIA_URL }}/spara.jpg'; background-size: cover; background-position: center center"
    class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Fitnology - Where Technology meets Fitness and Health</h1>
                <h4><a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a></h4>
            </div>
        </div>
    </div>
</section>
<!--Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3-intro">Welcome to Fitnology!</h2>
                <p class="text-big intro">
                    This is the place for you who look for inspiration, motivation, knowledge and tools for your journey
                    to a more healthy and active life.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Post One-->
<section class="featured-posts no-padding-top">
    <div class="container">
        <div class="row d-flex align-items-stretch">
            <div class="col">
                <div class="text-inner d-flex align-items-center">
                    <div class="content">
                        <header class="post-header">
                            <h2 class="h4">What we are</h2>
                        </header>
                        <p>This is the website that wants to help you in your training journey by offering products
                            carefully selected according to customers' needs and wishes, well adapted for training and
                            to constantly ensure that your training becomes an enjoyable experience with the help of
                            technology. We believe that it should be easy to be able to keep track of yourself so that
                            you can have a healthy lifestyle without having to think about it. And in our world we
                            believe that is possible with the help of technology. Here you find a great source of
                            different kinds of products suitable for all different needs when it comes to your health
                            journey. Wait no longer take a look at our product selection and find what you need to
                            become the best version of yourself. </p><a href="{% url 'products' %}">Go to our products
                            page!</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Divider One-->
        <section style="background: url(/media/post1.jpg); background-size: cover;" class="divider">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <a href="{% url 'blog' %}" class="hero-link">
                            <h2>Did you know, by working out you take care of your heart, and by taking care of your
                                heart
                                you get more
                                energy and minimize the risk for heart disease...</h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Post Two-->
        <div class="row d-flex align-items-stretch">
            <div class="col">
                <div class="text-inner d-flex align-items-center">
                    <div class="content">
                        <header class="post-header">
                            <h2 class="h4">What we offer</h2>
                        </header>
                        <p>Not only is this a place to find technology products that will be your helping guide trough
                            your
                            fitness journey, it's also a place to learn more abut this new field in thecnology and get a
                            bigger
                            understanding of how they can be helpfull to maintain a healthy life. Technology today have
                            a big
                            focus regarding simplicity and in our rushing society sometimes taking care of yourself and
                            tracking
                            how you actually are doing can be a daunting thing. That is why we are here to let you know
                            that
                            there is a simpley way to make sure you are living your best life by providing information,
                            inspiration and products made to keep track on your body wich will have a huge impact on
                            your mood,
                            energy and focus. Does it sound interesting? Become a member today and read more about it on
                            our
                            blog but first make sure to register.</p>
                        <a href="{% url 'account_signup' %}">
                            Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Divider Two-->
        <section style="background: url{{MEDIA_URL}}/post2.jpg); background-size: cover; background-position: center bottom"
            class="divider">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <a href="{% url 'blog' %}" class="hero-link">
                            <h2>Did you know that exercising could make you less anxious, stressed and give you better
                                sleep? </h2>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Post Three-->
        <div class="row d-flex align-items-stretch">
            <div class="col">
                <div class="text-inner d-flex align-items-center">
                    <div class="content">
                        <header class="post-header">
                            <h2 class="h4">How it works</h2>
                        </header>
                        <p>By starting to explore the website you will notice that shopping is vailable for everyone yet
                            reading the full blog posts is only for you who choose to become
                            a meber. It is free and will provide you with more things than just products. By getting to
                            read more on our blog uou will be
                            able to get a bigger understanding of why thecnology can have a impact and why it should be
                            easy and fun to exercise as well as how to do that in a good and healthy way. It's simple,
                            all you have to do is follow the steps on the register form and create an account. Once that
                            is done and you have confirmed your email you only have to type in your username and
                            password. Then everything is available for you! Give it a try!
                            <a href="{% url 'account_signup' %}">Become a member today!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}