html {
    height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0c343d;
    background-color: #fff;
}

/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
section.hero {
    padding: 0;
    color: #fff;
}

section.hero .container {
    padding: 200px 20px;
    position: relative;
}

section.hero h1 {
    line-height: 1.2em;
    color: #0c343d;
}

section.hero .continue {
    position: absolute;
    bottom: 30px;
    left: 20px;
    text-decoration: none !important;
    color: inherit !important;
    text-transform: uppercase;
    font-size: 0.75em;
    opacity: 0.8;
}

section.hero .continue i {
    margin-right: 5px;
}

/* Hero Section Media Query ------------------------------------- */
@media (max-width: 767px) {
    section.hero .container {
        padding: 150px 20px;
    }
}

/*
* ==========================================================
*     FEATURED POSTS SECTION
* ==========================================================
*/
section.featured-posts .row:nth-of-type(odd) .text {
    background: #fafafa;
}

section.featured-posts .row:last-of-type {
    margin-bottom: 0;
}

section.featured-posts p {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
}

section.featured-posts .text-inner {
    padding: 50px 30px;
    height: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

section.featured-posts a {
    color: inherit;
    text-decoration: none;
}

section.featured-posts h2 {
    line-height: 1.1em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

section.featured-posts h2:hover {
    color: #555;
}

section.featured-posts .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

section.featured-posts .title,
section.featured-posts .date,
section.featured-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #999;
}

section.featured-posts .title i,
section.featured-posts .date i,
section.featured-posts .comments i {
    margin-right: 5px;
}

section.featured-posts .title::after,
section.featured-posts .date::after,
section.featured-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

section.featured-posts .comments::after {
    display: none;
}

section.featured-posts .image {
    max-height: 200px;
    width: auto;
    overflow: hidden;
    padding: 0;
}

section.featured-posts .image img {
    height: 100%;
}

section.featured-posts .post-header {
    margin-bottom: 10px;
}

section.featured-posts .post-footer {
    margin-top: 30px;
}

/* Featured Posts Section Media Query ------------------------------------- */
@media (max-width: 991px) {
    section.featured-posts .image {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-height: 300px;
        min-height: auto !important;
    }

    section.featured-posts .image img {
        width: 100%;
        height: auto !important;
    }

    section.featured-posts .text {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 575px) {
    section.featured-posts .post-footer {
        font-size: 0.9em;
    }
}

@media (max-width: 350px) {
    section.featured-posts .text-inner {
        padding: 15px;
    }

    section.featured-posts .post-footer {
        font-size: 0.75em;
    }
}

section {
    padding: 80px 0;
    overflow-x: hidden;
}

/*
* ==========================================================
*     DIVIDER SECTION
* ==========================================================
*/
section.divider {
    color: #fff;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #0c343d;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #0c343d !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Delivery Banner */
.bg-black {
    background: #0c343d !important;
}

/* Category buttons */
.btn-secondary {
    background-color: #0c343d;
    border-color: #0c343d;
}

/* Navigation bar */

.navbar {
    background: #fff;
    height: 140px;
}

.navbar-light .navbar-nav .nav-link {
    color: #0c343d;
    font-weight: 600;
}

/* Scroll up button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Continue shopping button */
.btn-black {
    background: #0c343d;
    ;
    color: white;
}

.btn-outline-black {
    background: white;
    color: #0c343d !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid #0c343d;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #0c343d;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

a.category-badge>span.badge:hover {
    background: #0c343d !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* -------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Country button for checkout page */
select,
select option {
    color: #0c343d;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #0c343d;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0c343d;
    border: 1px solid #0c343d;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #0c343d;
    /* text-info */
}

/*
* ==========================================================
*     FOOTER
* ==========================================================
*/
footer.main-footer {
    background: #0c343d;
    padding: 100px 0 0;
    color: #fff;
}

footer.main-footer .contact-details p {
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
    font-size: 0.95em;
}

footer.main-footer .contact-details a {
    text-decoration: underline;
    margin-bottom: 0;
}

footer.main-footer a {
    color: inherit;
    font-weight: 300;
    margin-bottom: 7px;
}

footer.main-footer a:hover,
footer.main-footer a:focus {
    color: #999;
}

footer.main-footer ul {
    margin-right: 30px;
}

footer.main-footer .list-unstyled a {
    font-size: 0.95em;
}

footer.main-footer .latest-posts .image {
    max-width: 50px;
    padding: 4px;
    border: 2px solid #333;
    margin-right: 10px;
}

footer.main-footer .latest-posts a {
    font-size: 0.95em;
    text-decoration: none;
}

footer.main-footer .latest-posts a:hover {
    color: #fff;
}

footer.main-footer .latest-posts strong {
    display: block;
}

footer.main-footer .latest-posts .date {
    font-size: 0.85em;
    color: #aaa;
}

footer.main-footer .copyrights {
    background: #222;
    margin-top: 100px;
    padding: 20px 0;
    font-size: 0.9em;
}

footer.main-footer .copyrights * {
    margin-bottom: 0;
}

footer.main-footer .social-menu {
    margin-top: 20px;
}

footer.main-footer .social-menu li {
    padding: 0 5px;
}

footer.main-footer .date::after,
footer.main-footer .title::after {
    display: none !important;
}

/* Footer Media Query ------------------------------------- */
@media (max-width: 767px) {
    footer.main-footer div[class*="col-"] {
        margin-bottom: 40px;
    }

    footer.main-footer div[class*="col-"]:last-of-type {
        margin-bottom: 0;
    }

    footer.main-footer .latest-posts>a {
        width: 100%;
        margin-bottom: 20px;
    }

    footer.main-footer .copyrights div[class*="col-"] {
        margin-bottom: 20px;
        text-align: center !important;
    }

    footer.main-footer .copyrights div[class*="col-"]:last-of-type {
        margin-bottom: 0;
    }
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */