<div class="container-sm">
    <a href="{% url 'products' %}" class="btn btn-secondary">All Products</a>
    <a href="{% url 'products' %}?category=smart_scales" class="btn btn-secondary">Smart Scale</a>
    <a href="{% url 'products' %}?category=smartwatches" class="btn btn-secondary">Smartwatch</a>
    <a href="{% url 'products' %}?category=interactive_mirrors" class="btn btn-secondary">Interactive Mirrors</a>
    <a href="{% url 'products' %}?category=exercise_machines" class="btn btn-secondary">Exercise Machines</a>
    <a href="{% url 'products' %}?category=headphones" class="btn btn-secondary">Headphones</a>
    <a href="{% url 'products' %}?category=clothing" class="btn btn-secondary">Clothing</a>
    <a href="{% url 'products' %}?category=accessories" class="btn btn-secondary">Accessories</a>
    <a href="{% url 'products' %}?category=equipment" class="btn btn-secondary">Equipment</a>
</div>