<div class="container-fluid">
    <div class="row menu-navigation">
        <div class="col text-center mt-3">
            <div class="row mt-1 mb-2" id="category-link-menu">
                <a href="{% url 'products' %}" class="text-black menu-link">All Products</a><br>
                <a href="#all-clothing" class="text-black menu-link">All Clothing</a>
                <a href="#smartwatch" class="text-black menu-link">Smartwatches</a>
                <a href="#smartscale" class="text-black menu-link">Smart Scales</a>
                <a href="#smartmirror" class="text-black menu-link">Smart mirrors</a>
                <a href="#smartbikes" class="text-black menu-link">Smart Bikes</a>
                <a href="#equipment" class="text-black menu-link">Equipment</a>
                <a href="#events" class="text-black menu-link">Events</a>
            </div>
        </div>
    </div>
</div>