<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h6 class="text-white">Fitnology</h6>
                </div>
                <div class="contact-details">
                    <p>53 Broadway, Broklyn, NY 11249</p>
                    <p>Phone: (020) 123 456 789</p>
                    <p>Email: <a href="mailto:info@fitnology.com">Info@fitnology.com</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menus d-flex">
                    <ul class="list-unstyled">
                        <li> <a href="#">Our Partners</a></li>
                        <li> <a href="https://www.fitbit.com/global/se/products" target="blank">Fitbit</a></li>
                        <li> <a href="https://uk.vaha.com/" target="blank">Vaha</a></li>
                        <li> <a href="https://www.apple.com/se/" target="blank">Apple</a></li>
                        <li> <a href="https://www.onepeloton.com/" target="blank">Peloton</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="latest-posts">
                    <div class="post d-flex align-items-center">
                        <div class="title"><strong>Instagram</strong><a href="https://www.instagram.com/"
                                target="blank"><i class="fa fa-instagram"></i></a></div>
                    </div>

                    <div class="post d-flex align-items-center">
                        <div class="title"><strong>Facebook</strong><a href="https://sv-se.facebook.com/"
                                target="blank"><i class="fa fa-facebook"></i></a></div>
                    </div>

                    <div class="post d-flex align-items-center">
                        <div class="title"><strong>Twitter</strong><a href="https://twitter.com/" target="blank"><i
                                    class="fa fa-twitter-square "></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2022.</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>By <a href="https://github.com/TjoAlex" class="text-white">TjoAlex</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>