{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-4 mt-3">
            <h2>Add Comment</h2>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}¨
                    {{ form.as_p }}
                    <button class="btn btn-secondary">
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}