{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--Inspired by Codemy.com-->
<!--Hero Section-->
<section
    style="background: url({{ MEDIA_URL }}bloghead.jpg); background-size: cover; background-position: center center;"
    class="hero blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Let's take a break and unwind with new exciting news from the blog</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3">
            {% for post in post_list %}
            <div class="mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <div class="image-container my-2">
                        {% if post.image %}
                        <a href="{{ post.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}">
                        </a>
                        {% endif %}
                    </div>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'post_detail' post.slug  %}"
                        class="btn btn-black rounded-0 text-uppercase mt-5">Read More &rarr;</a>
                    {% else %}
                    <p>Become a member to read more!</p>
                    <a href="{% url 'account_signup' %}" class="btn btn-black rounded-0 text-uppercase">
                        Register</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}